# MODELO VECTORIAL

In [52]:
import pandas as pd
import numpy as np

In [53]:
full_table = pd.read_csv('query_matrix.csv', index_col=0)

In [54]:
full_table.tail()

,name,mov,hat,forward,ugliness,gandhi,summit,developerscoding,committe,visiting,...,generation,discovery,dreadful,courag,americ,ticketsloginweb,fir,myself,provid,audienc
46,http://quotes.toscrape.com/,0.0,2.184425,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
47,http://quotes.toscrape.com/login,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
48,http://quotes.toscrape.com/author/Albert-Einst...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,4.643856,5.643856,...,0.0,5.643856,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
49,https://www.goodreads.com/quotes,0.0,8.737698,5.643856,0.0,16.931569,0.0,0.0,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,5.643856,3.643856,0.0,0.0
50,query,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0

# Get query_vector and matrix values

In [55]:
v_table = np.array(full_table.iloc[:,1:])
v_query = v_table[-1]

In [104]:
dot = v_query.dot(v_query)
norm = np.linalg.norm(v_query)
aarr = dot/(norm*norm)
ar = np.array(aarr)
np.arccos(0)

1.5707963267948966

# Calc distances

In [94]:
a = np.array([1,2,3])
b = np.array([[1,2,3],[1,3,5],[1,3,5]])

# dot product between a vector and a list of vectors
dot_prod_1 = np.dot(a,a)
dot_prod_2 = np.dot(v_query, v_query)
dot_prod = np.dot(v_table, v_query)

# scalar product between a vector and a list of vectors
v_query_norm = np.linalg.norm(v_query)
v_table_norm = np.linalg.norm(v_table, axis=1)
v_prod_norm = v_query_norm * v_table_norm

# coeficient dot prod over norm prod
coeficient = (dot_prod / v_prod_norm)
# arcosine of coeficient
angle = np.arccos(coeficient)

In [105]:
full_table['angle'] = angle

In [106]:
full_table.tail()

,name,mov,hat,forward,ugliness,gandhi,summit,developerscoding,committe,visiting,...,discovery,dreadful,courag,americ,ticketsloginweb,fir,myself,provid,audienc,angle
46,http://quotes.toscrape.com/,0.0,2.184425,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,1.562906e+00
47,http://quotes.toscrape.com/login,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,1.570796e+00
48,http://quotes.toscrape.com/author/Albert-Einst...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,4.643856,5.643856,...,5.643856,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,1.521960e+00
49,https://www.goodreads.com/quotes,0.0,8.737698,5.643856,0.0,16.931569,0.0,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,5.643856,3.643856,0.0,0.0,1.545373e+00
50,query,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,3.942477e-08

In [110]:
sorted = full_table.sort_values(by=['angle'])

In [112]:
sorted.head()

,name,mov,hat,forward,ugliness,gandhi,summit,developerscoding,committe,visiting,...,discovery,dreadful,courag,americ,ticketsloginweb,fir,myself,provid,audienc,angle
50,query,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,3.942477e-08
18,http://quotes.toscrape.com/author/Marilyn-Monroe/,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,10.931569,0.0,0.0,0.0,0.0,0.000000,5.406610e-01
20,http://quotes.toscrape.com/author/Jane-Austen/,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,1.515422e+00
44,http://quotes.toscrape.com/author/J-K-Rowling/,11.287712,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,5.643856,0.0,0.000000,0.0,0.0,0.0,0.0,5.643856,1.516980e+00
48,http://quotes.toscrape.com/author/Albert-Einst...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,4.643856,5.643856,...,5.643856,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,1.521960e+00

In [113]:
list(sorted.iloc[1:,0])

['http://quotes.toscrape.com/author/Marilyn-Monroe/',
 'http://quotes.toscrape.com/author/Jane-Austen/',
 'http://quotes.toscrape.com/author/J-K-Rowling/',
 'http://quotes.toscrape.com/author/Albert-Einstein/',
 'http://quotes.toscrape.com/tag/inspirational/page/1/',
 'http://quotes.toscrape.com/tag/inspirational/',
 'http://quotes.toscrape.com/author/Eleanor-Roosevelt/',
 'http://quotes.toscrape.com/author/Thomas-A-Edison/',
 'http://quotes.toscrape.com/tag/books/',
 'http://quotes.toscrape.com/tag/books/page/1/',
 'http://quotes.toscrape.com/author/Steve-Martin/',
 'http://quotes.toscrape.com/tag/reading/',
 'http://quotes.toscrape.com/tag/classic/page/1/',
 'http://quotes.toscrape.com/author/Andre-Gide/',
 'https://www.goodreads.com/quotes',
 'http://quotes.toscrape.com/tag/love/',
 'http://quotes.toscrape.com/tag/love/page/1/',
 'https://www.zyte.com',
 'http://quotes.toscrape.com/page/2/',
 'http://quotes.toscrape.com/tag/humor/',
 'http://quotes.toscrape.com/tag/humor/page/1/',
 'http://quotes.toscrape.com/tag/friends/',
 'http://quotes.toscrape.com/tag/life/',
 'http://quotes.toscrape.com/tag/life/page/1/',
 'http://quotes.toscrape.com/tag/friendship/',
 'http://quotes.toscrape.com/tag/aliteracy/page/1/',
 'http://quotes.toscrape.com/tag/failure/page/1/',
 'http://quotes.toscrape.com/tag/edison/page/1/',
 'http://quotes.toscrape.com/',
 'http://quotes.toscrape.com/',
 'http://quotes.toscrape.com/tag/truth/',
 'http://quotes.toscrape.com/tag/paraphrased/page/1/',
 'http://quotes.toscrape.com/tag/live/page/1/',
 'http://quotes.toscrape.com/tag/miracles/page/1/',
 'http://quotes.toscrape.com/tag/miracle/page/1/',
 'http://quotes.toscrape.com/tag/world/page/1/',
 'http://quotes.toscrape.com/tag/change/page/1/',
 'http://quotes.toscrape.com/tag/deep-thoughts/page/1/',
 'http://quotes.toscrape.com/tag/thinking/page/1/',
 'http://quotes.toscrape.com/tag/choices/page/1/',
 'http://quotes.toscrape.com/tag/abilities/page/1/',
 'http://quotes.toscrape.com/tag/obvious/page/1/',
 'http://quotes.toscrape.com/tag/simile/',
 'http://quotes.toscrape.com/tag/simile/page/1/',
 'http://quotes.toscrape.com/tag/be-yourself/page/1/',
 'http://quotes.toscrape.com/tag/adulthood/page/1/',
 'http://quotes.toscrape.com/tag/success/page/1/',
 'http://quotes.toscrape.com/tag/value/page/1/',
 'http://quotes.toscrape.com/tag/misattributed-eleanor-roosevelt/page/1/',
 'http://quotes.toscrape.com/login']